@import './styles/_colors';
@import './styles/_animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: $main-bg-color;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  display: grid;
  place-items: center center;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  margin: auto;
  padding: 2rem;
  border-radius: 2.5rem;
  background-color: $main-bg-color;
  box-shadow: 10px 10px 15px #cbced1, -10px -10px 15px #ffffff;
}

@media screen and (max-width: 1200px) {
  .messages-scroll {
    width: 80vw;
  }
}
